*
{
    margin: 0;
    padding: 0;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#info {
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 30px;
    text-align: center;
    z-index: 10; 
}
